.header{ 
    width: 1200px;
    height: 880px;
    border: 1px solid #B4B7B7;
    border-radius: 25px;
    background-color: white; 
    margin-left: 190px;

}
.sidebar{
    margin-top: 110px;
    margin-left: 85px;
    width: 430px;
    height: 870px;
    float: left;
    }
.content{
    width: 770px;
    height: 870px;
    margin-left: 430px;
    float:right;
    }
p { background-color:#ffffff;
	border: 1px solid #B4B7B7;
	border-radius: 25px;
    margin-top: 20px;    
    padding: 35px;
    text-align: left;
    font-size:20px;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    -moz-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
}
