.header{ 
    width: 1200px;
    /* height: 880px;*/
    min-height: auto;
    border: 1px solid #B4B7B7;
    border-radius: 25px;
    background-color: white; 
    margin-left: 190px;
    position: relative;
    display: inline-block;
    }
.sidebar{
    padding: 5%;
    width: calc(100% - 430px - 12%);
    float: left;
    margin:10px;
    margin-right: 0px;
    height: auto;
    }

.content{
    width: 430px;
    height: 870px;
    float:right;
    background-image: url("daily_ui_day1_2.png");
    border-radius: 0px 25px 25px 0px;
    }
p { background-color:#ffffff;
	border: 1px solid #B4B7B7;
	border-radius: 25px;
    margin-top: 20px;    
    padding: 35px;
    text-align: left;
    font-size:20px;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    -moz-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
}
